{% extends 'base.html.twig' %}

{% block title %}{{ 'sing_out'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ 'sing_out'|trans }} / <a href="{{ path('app_login', {'_locale': app.request.attributes.get('_locale')}) }}">{{ 'sing_in'|trans }}</a></h1>

    <div class="text-center">
        {% for type in constant('App\\Entity\\User::AVAILABLE_TYPES') %}
            <a class="btn btn-primary" href="{{ path('app_register', {'type': type}) }}"
               role="button">{{ type|trans }}</a>
        {% endfor %}
    </div>

    <div class="">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {% if app.request.get('type') is defined and app.request.get('type') == constant('App\\Entity\\User::SUPPLIER') %}
            {{ form_row(registrationForm.categories) }}
        {% endif %}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-primary">{{ 'form.btn_register'|trans }}</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
